.label {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.text-field {
    -fx-border-color: rgba(68, 115, 197, 255);
    -fx-text-fill: #000;
}

#DisplayTitleFunA, #DisplayOptRoseValueFunA, #DisplayOptNoirValueFunA, #DisplayTotalValueFunA, #DisplayTotalGrossProfitFunA, #DisplayProfitMarginFunA,#AnnualForestByGrossProfitPortal{
    -fx-background-color: rgb(124, 124, 124)
}

#AnnualForecastByGrossProfitTitle {
    -fx-background-color: rgb(4, 28, 92);
    -fx-text-fill: #FFF;
    -fx-font-size: 18;
}

#NumWeekFunA, #CapLabourItemNameFunA, #CapGrapeItemNameFunA, #PrcRoseItemNameFunA, #PrcNoirItemNameFunA, #FixedCostsFunA {
    -fx-text-fill: #FFF;
}

#DisplayPortalFunA{
    -fx-background-color: #000;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

#DisplayOptRoseLabelFunA, #DisplayOptNoirLabelFunA, #DisplayTotalLabelFunA, #DisplayProductionVolumeTitleFunA, #TotalGrossProfitTitleFunA, #TotalGrossProfitUnitFunA, #ProfitMarginTitleFunA, #ProfitMarginUnitFunA, #FieldValidationTitleFunA, #FieldValidationCheckDetailsFunA, #FieldValidationErrorMessageFunA {
    -fx-text-fill: rgb(165, 171, 29);
}

#DisplayProductionVolumePaneFunA {
    -fx-border-color: rgba(68, 115, 197, 255);
}

#DisplayProductionVolumeTitleFunA {
    -fx-background-color: #000;
}